<%- include("templates/cabecera.ejs", {cabecera:<%= build.Nombre %>}) %>
    <div class="container">
        
        <h1><%= build.Nombre %></h1>
        <div class="row">
            <h2>Componentes</h2>
            <div class="col-12"><p><%= build.Objetos %></div>
        </div>
        <div class="row">
            <h2>Precio</h2>
            <p><%= build.PrecioTotal %></p>
        </div>
        <a class="btn btn-info" href="/">Volver</a>
    </div>
    <%- include("templates/footer.ejs") %>