<%- include("templates/cabecera") %>
<title>Información del campeon</title>
</head>
<body>
    <div class="container">
        <h1>Detalles del campeon</h1>
        <% if (error) { %>
            <%= mensaje %>
                <a href="/campeones" class="btn btn-dark btn-block my-2">
                    Volver
                </a>
                <% } %>
                    <% if (!error) { %>
                        <form id="editar" data-id="<%= campeones.id %>">
                            <input type="text" value="<%= campeones.Nombre %>" class="form-control my-2" name="Nombre"
                                id="nombreInput">
                                <input type="text" value="<%= campeones.Img %>"  class="form-control my-2" name="Img">
                                <input type="text" value="<%= campeones.FechaSalida %>" class="form-control my-2" name="FechaSalida"
                                id="bioInput">
                            <input type="text" value="<%= campeones.Habilidades %>" class="form-control my-2" name="Habilidades"
                                id="regionInput">
                            <input type="text" value="<%= campeones.Lore %>" class="form-control my-2" name="Lore"
                                id="ciudadInput">
                            <input type="text" value="<%= campeones.Precio %>" class="form-control my-2" name="Precio"
                                id="numGymInput">
                            <input type="text" value="<%= campeones.Region %>" class="form-control my-2"
                                name="Region" id="lista_PokemonInput">
                            <input type="text" value="<%= campeones.Video %>" class="form-control my-2"
                                name="Video" id="lista_PokemonInput">
                            <button class="btn btn-warning btn-sm" type="submit">
                                Editar
                            </button>
                        </form>
                        <hr>
                        <button class="btn btn-danger btn-sm" data-id="<%= campeones.id %>">
                            Eliminar
                        </button>
                        <% } %>

    </div>

    <script>
        //Eliminar
        const btnEliminar = document.querySelector('.btn-danger')
        btnEliminar.addEventListener('click', async () => {
            console.log(btnEliminar.dataset.id)
            try {
                const data = await fetch(`/campeones/${btnEliminar.dataset.id}`, {
                    method: 'delete'
                })
                const res = await data.json()
                console.log(res)
                if (res.estado) {
                    window.location.href = '/campeones'
                } else {
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })
        //Editar
        const formEditar=document.querySelector('#editar');
        formEditar.addEventListener('submit', async (e) => {
            e.preventDefault()
            const Nombre = formEditar.elements['Nombre'].value
            const Img = formEditar.elements['Img'].value
            const FechaSalida= formEditar.elements['FechaSalida'].value
            const Habilidades = formEditar.elements['Habilidades'].value
            const Lore = formEditar.elements['Lore'].value
            const Precio = formEditar.elements['Precio'].value
            const Region = formEditar.elements['Region'].value
            const Video = formEditar.elements['Video'].value
            const id = formEditar.dataset.id
            const data = await fetch(`/campeones/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Nombre, Img,FechaSalida, Habilidades, Lore, Precio, Region, Video })
            })
            const res = await data.json()
            if (res.estado) {
                window.location.href = '/campeones'
            } else {
                console.log(res)
            }
        })
    </script>
    <%- include("templates/footer") %>