<%- include("templates/cabecera") %>
<title>Información de skin</title>
</head>
<body>
    <div class="container">
        <h1>Detalles de modo</h1>
        <% if (error) { %>
            <%= mensaje %>
                <a href="/skins" class="btn btn-dark btn-block my-2">
                    Volver
                </a>
                <% } %>
                    <% if (!error) { %>
                        <form id="editar" data-id="<%= skin.id %>">
                            <input type="text" value="<%= skin.Nombre %>" class="form-control my-2"
                                name="Nombre" id="nombreInput">
                            <input type="text" value="<%= skin.Img %>" class="form-control my-2" name="Img">
                            <input type="text" value="<%= skin.Universo %>" class="form-control my-2" name="Universo"
                                id="bioInput">
                            <input type="text" value="<%= skin.Precio %>" class="form-control my-2" name="Precio"
                                id="regionInput">
                                <input type="text" value="<%= skin.Tier %>" class="form-control my-2" name="Tier"
                                id="regionInput">
                            <button class="btn btn-warning btn-sm" type="submit">
                                Editar
                            </button>
                        </form>
                        <hr>
                        <button class="btn btn-danger btn-sm" data-id="<%= skin.id %>">
                            Eliminar
                        </button>
                        <% } %>

    </div>

    <script>
        //Eliminar
        const btnEliminar = document.querySelector('.btn-danger')
        btnEliminar.addEventListener('click', async () => {
            console.log(btnEliminar.dataset.id)
            try {
                const data = await fetch(`/skins/${btnEliminar.dataset.id}`, {
                    method: 'delete'
                })
                const res = await data.json()
                console.log(res)
                if (res.estado) {
                    window.location.href = '/skins'
                } else {
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })
        //Editar
        const formEditar = document.querySelector('#editar');
        formEditar.addEventListener('submit', async (e) => {
            e.preventDefault()
            const Nombre = formEditar.elements['Nombre'].value
            const Img = formEditar.elements['Img'].value
            const Universo = formEditar.elements['Universo'].value
            const Precio = formEditar.elements['Precio'].value
            const Tier = formEditar.elements['Tier'].value
            const id = formEditar.dataset.id
            const data = await fetch(`/skins/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Nombre, Img, Universo, Precio, Tier })
            })
            const res = await data.json()
            if (res.estado) {
                window.location.href = '/skins'
            } else {
                console.log(res)
            }
        })
    </script>
    <%- include("templates/footer") %>