<%- include("templates/cabecera.ejs") %>
<title>Minileyendas</title>
</head>
<body>
    <div class="container">
        <h1>Minileyendas</h1>
        <div class="row">
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/minileyendas/crearMinileyenda">Crear una nueva Minileyendas</a></div>
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/menu">Volver</a></div>
        </div>
        <table class="table text-info">
            <thead class="thead-dark">
                <tr >
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imágen  </th>
                    <th scope="col">Tier</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Video</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayMinileyendas.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayMinileyendas.forEach(miniLeyendas=> { %>
                        <tr>
                            <th scope="row">
                                <%= miniLeyendas.id %>
                            </th>
                            <td>
                                <%= miniLeyendas.Nombre %>
                            </td>
                            <td>
                                <img src="<%= miniLeyendas.Img%>" width="100%">
                            </td>
                            <td>
                                <%= miniLeyendas.Tier %>
                            </td>
                            <td>
                                <%= miniLeyendas.Precio %>
                            </td>
                            <td>
                                <%= miniLeyendas.Fecha %>
                            </td>
                            <td>
                                <iframe src="<%= miniLeyendas.Video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="minileyendas/<%= miniLeyendas.id %>/editar">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <%- include("templates/footer.ejs") %>