<%- include("templates/cabecera.ejs", {cabecera:'Skins'}) %>
    <div class="container">
        <h1>Skins</h1>
        <div class="row">
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/skins/crear">Crear un nuevo campeon</a></div>
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/menu">Volver</a></div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Universo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Tier</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arraySkins.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arraySkins.forEach(skins=> { %>
                        <tr>
                            <th scope="row">
                                <%= skins.id %>
                            </th>
                            <td>
                                <%= skins.Nombre %>
                            </td>
                            <td>
                                <%= skins.Universo %>
                            </td>
                            <td>
                                <%= skins.Precio %>
                            </td>
                            <td>
                                <%= skins.Tier%>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="skins/<%= skins.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <%- include("templates/footer.ejs") %>